remote {{ vpn_host }} {{ vpn_port }}
dev tun1
client

{% if vpn_route_add_default_network %}
route {{ ansible_default_ipv4.network }} {{ ansible_default_ipv4.netmask }}
{% endif %}
{% for n in vpn_route_add %}
route {{ n | ansible.utils.ipaddr("network") }} {{ n | ansible.utils.ipaddr("netmask") }}
{% endfor %}

nobind

tls-client 
ca root.crt 
cert client.crt 
key client.key 
verify-x509-name {{ vpn_host }} name 
tls-auth auth.key 1
reneg-sec 1800 

verb 3

comp-lzo
