remote {{ vpn_host }} {{ vpn_port }}
dev tun1
client

{% if vpn_route_add_private_network %}
route {{ private_network.network }} {{ private_network.netmask }}
{% endif %}
{% for n in vpn_route_add %}
route {{ n | ansible.utils.ipaddr("network") }} {{ n | ansible.utils.ipaddr("netmask") }}
{% endfor %}

nobind

tls-client 
ca root.crt 
cert client.crt 
key client.key 
verify-x509-name {{ vpn_host }} name 
tls-auth auth.key 1
reneg-sec 1800 

verb 3

comp-lzo
